doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="assets/styles/style.sass")
        title Misocial 
    body 
        include components/mixins
        header
            +menu(navigationMenu)
            .Misocial
                p social marketing and anlytics
                h1 Pricing Table
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut.
        main 
            section 
                p MIsocial
                h2 Select a Plan
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut.
                .grid.col_3 
                    +card(cardsInfo.satelite)
                    +card(cardsInfo.machine)
                    +card(cardsInfo.rocket)
                .Misocial 
                    p SOCAL MARKETING & ANALYTICS
                    h2 Take control of your data
                    p 
                        a(href="#" class="btn") get started
                        a(href="#" class="btn_white") explore features
        footer 
            section
                +menu(navigationMenu)
                p © 2017 Mass Impressions & Tranmautritam. Make the right impression.
                p.bottom_line
                    picture 
                        img(src="assets/images/icons.png", alt="icons")
        script(src="scripts/main.js") 